.order-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.order-details-card {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.order-details-card .MuiTypography-root {
    margin-bottom: 10px;
}

.card-actions-center {
    display: flex;
    justify-content: center;
}
